<ng-template #mdlCapturaPromociones let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                {{ modalname }}
            </h5>
            <button type="button" class="close" aria-label="Close" (click)="closeModal()"><i class="fas fa-times"
                aria-hidden="true"></i></button>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="txtNombre">Codigo</label>
                            <input class="form-control" type="text" name="txtNombre" id="txtNombre" [(ngModel)]="codigo" [maxlength]="20" >
                        </div>
                        <div class="col-md-6">
                            <label for="txtNombre">Descuento</label>
                            <input class="form-control" type="text" name="txtNombre" id="txtNombre" [(ngModel)]="descuento" [maxlength]="20" decimalNumber>
                        </div>
                        
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <label for="txtNombre">Descripción</label>
                            <textarea class="form-control" type="text" name="txtNombre" id="txtNombre" [(ngModel)]="descripcion" [maxlength]="100" [rows]="4"></textarea>
                        </div>
                        <div class="col-md-6">
                            <label for="txtNombre">Condiciones</label>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="flexRadioDefault1" [checked]="!programado && !acumulado" (change)="onChangeCondicion()">
                                <label class="form-check-label" for="flexRadioDefault1">
                                Ninguna
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="flexRadioDefault2" [(ngModel)]="programado" >
                                <label class="form-check-label" for="flexRadioDefault2">
                                Programado
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="flexRadioDefault3" [(ngModel)]="acumulado" >
                                <label class="form-check-label" for="flexRadioDefault3">
                                Acumulado
                                </label>
                              </div>
                            
                        </div>
                        
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-4">
                            <label for="txtNombre">Fecha Inicio</label>
                                <input type="date" class="form-control" id="fechaInicio" name="fechaInicio" [(ngModel)]="fechaInicio" required  [disabled]="!programado">
                        </div>
                        <div class="col-md-4">
                            <label for="txtNombre">Fecha Fin</label>
                                <input type="date" class="form-control" id="fechaFin" name="fechaFin" [(ngModel)]="fechaFin" required [disabled]="!programado">
                        </div> 
                        <div class="col-md-4">
                            <label for="txtNombre">Cantidad</label>
                            <input class="form-control" type="text" name="txtCantidad" id="txtCantidad" [(ngModel)]="disponibles" appOnlynumber [disabled]="!programado">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <label for="txtNombre">Valor Acumulable</label>
                            <input class="form-control" type="text" name="txtValorAcumulable" id="txtValorAcumulable" [(ngModel)]="valorAcumulable" [maxlength]="20" decimalNumber [disabled]="!acumulado">
                        </div>
                        <div class="col-md-6">
                            <label for="txtNombre">Cantidad Acumulable</label>
                            <input class="form-control" type="text" name="txtCantidadAcumulable" id="txtCantidadAcumulable" [(ngModel)]="cantidadAcumulable" [maxlength]="20" appOnlynumber [disabled]="!acumulado">
                         </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-info" type="button" (click)="savePromos()"><i class="fas fa-save"></i> Guardar</button>
        </div>
    </div>
</ng-template>




