<ng-template #mdlCapturaTipo let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                {{ modalname }}
            </h5>
            <button type="button" class="close" aria-label="Close" (click)="closeModal()"><i class="fas fa-times"
                aria-hidden="true"></i></button>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="row mt-3">
                    
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-info" type="button" ><i
                class="fas fa-save"></i> Guardar</button>
        </div>
    </div>
</ng-template>