<div class="contenedor">
    <div class="header">
        <label>{{moduleName}}</label>
    </div>
    <div class="body">
        <div class="container-fluid">

            <div class="col-md-12"> 
                <div class="row mt-4">
                    <div class="col-md-12">
                        <grid-cs #gridOpcMenuCargo [rowsPerPage]="10"
                             [columnDefs]="columnsOpcMenuCargo"
                            [(data)]="listaOpcMenuCargo"
                            [enablePagination]="true"
                        ></grid-cs>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="footer">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <small>Versión {{version}}</small>
                <h5>{{moduleName}}</h5>
            </div>
        </div>
    </div>
</div>

<app-mdl-opc-menu-cargo #mdlCapturaOpcMenuCargo (onClose)="recargar($event)"></app-mdl-opc-menu-cargo>
