ion-content {
  height: 100vh;

}

.loading-container {
  height: 100%;
  background: linear-gradient(45deg, #405de6, #5851db, #f56040, #ff9f40);
  background-size: 600% 600%;
  animation: gradientAnimation 10s ease infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;

}



ion-spinner {
  color: white;

}

.loading-text {
  font-size: 1.5em;
  display: flex;
  color: white;
  position: absolute;
  margin-top: 100px;
}

.loading-text span {
  opacity: 0;
  animation: fadeInUp 1s ease-in-out infinite alternate;
}

.loading-text span:nth-child(1) {
  animation-delay: 0s;
}

.loading-text span:nth-child(2) {
  animation-delay: 0.1s;
}

.loading-text span:nth-child(3) {
  animation-delay: 0.2s;
}

.loading-text span:nth-child(4) {
  animation-delay: 0.3s;
}

.loading-text span:nth-child(5) {
  animation-delay: 0.4s;
}

.loading-text span:nth-child(6) {
  animation-delay: 0.5s;
}

.loading-text span:nth-child(7) {
  animation-delay: 0.6s;
}

.loading-text span:nth-child(8) {
  animation-delay: 0.7s;
}

.loading-text span:nth-child(9) {
  animation-delay: 0.8s;
}

.loading-text span:nth-child(10) {
  animation-delay: 0.9s;
}

.loading-text span:nth-child(11) {
  animation-delay: 1s;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeInUp {

  0%,
  100% {
    opacity: 0;
    transform: translateY(0);
  }

  50% {
    opacity: 1;
    transform: translateY(10px);
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.icon-container{
  width: 100px; height: 100px;
  position: absolute;
  margin-bottom: 200px;
  .fab-content{
    width: 100px; height: 100px;
    img{
      width: 100%; height: 100%; border-radius: 50%; object-fit: cover;
    }
  }

}


.img1,
.img2 {
  position: fixed;
  bottom: -50px;
  object-fit: cover;

  @media screen and (min-width: 768px) and (max-width: 1023px), (min-width: 1024px){
   width: 50%;
  }
  
}

.img1 {
  left: -100px;
  transform: rotate(-10deg);
}

.img2 {
  right: -150px;
  transform: rotate(10deg);
}



svg {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  position: fixed;
}

svg text {
  animation: stroke 5s infinite alternate;
  stroke-width: 2;
  stroke: #FFFFFF;
  font-size: 109px;
  position: fixed;
}

@keyframes stroke {
  0% {
    fill: rgba(255, 139, 0, 0);
    stroke: rgba(255, 255, 255, 1);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 2;
  }

  70% {
    fill: rgba(255, 139, 0, 0);
    stroke: rgba(255, 255, 255, 1);
  }

  80% {
    fill: rgba(255, 139, 0, 0);
    stroke: rgba(255, 255, 255, 1);
    stroke-width: 3;
  }

  100% {
    fill: rgb(255, 255, 255);
    stroke: rgba(255, 255, 255, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}

.wrapper {
  background-color: #FFFFFF;
  position: fixed;
  top: 15%
}

;