<ion-header>
    <ion-toolbar>
      <ion-title class="ion-text-start">
        Captura de Precios
      </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="closeModal(false)">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen="true">
    <div class="no-prices" *ngIf="noPrice">
        <div>
            <img [src]="noimage">
            <h1>Opps</h1>
            <h3>Parece que aún no hay precios capturados</h3>
        </div>
        <div>
            <ion-button fill="outline" shape="round" color="success" (click)="startPrices()">
                Empezar
            </ion-button>
        </div>
    </div>
    <div class="container" *ngIf="!noPrice">
        <div class="available-price">
            <div class="item-price"></div>
        </div>
        <div class="capture-container center-container">
            <div class="cards-container">
                <ion-card class="animated-top price-card" *ngFor="let  item of lstPrices; let i = index;" (dblclick)="item.isCaptured = false">
                  <ion-card-header>
                    <div class="number-price">
                      <span>{{i+1}}</span>
                    </div>
                    <div class="price-tl" >
                      {{item.idPrecio === 0 ? 'Nuevo Precio': 'Precio'}}
                    </div>
                    <div class="icon-price">
                      <ion-icon name="close-outline"></ion-icon>
                    </div>
                  </ion-card-header>
                  <div class="cardt">          
                    <ion-card-content>
                      <span class="title-price">Cantidad</span>
                      <div class="price-container ">

                        <div class="min" *ngIf="item.isCaptured" >
                          <span class="title-price">Mín</span> {{item.cantidadMinima}}
                        </div>
                        <div class="min" [ngClass]="item.errorMin ? 'error' : ''" *ngIf="!item.isCaptured">
                          <span class="title-price" [ngClass]="item.errorMin ? 'invalid' : ''">Mín</span>
                          <ion-input type="number" min="1" max="1000" placeholder="0" [(ngModel)]="item.cantidadMinima"></ion-input>
                        </div>
                        
                        <div class="to">
                          <ion-icon name="caret-forward-outline"></ion-icon>
                        </div>
                        <div class="max" *ngIf="item.isCaptured">
                          <span class="title-price">Máx</span> {{item.cantidadMaxima}}
                        </div>
                        <div class="max" *ngIf="!item.isCaptured" [ngClass]="item.errorMax ? 'error' : ''">
                          <span class="title-price" [ngClass]="item.errorMax ? 'invalid' : ''">Máx</span>
                          <ion-input type="number" min="1" max="1000" placeholder="0" [(ngModel)]="item.cantidadMaxima"></ion-input>
                        </div>
                      </div>
                      <div class="price" *ngIf="item.isCaptured">
                        {{item.precioUnitario}}
                      </div>
                      <div class="price" *ngIf="!item.isCaptured" [ngClass]="{'error': item.errorPrice, 'invalid': item.errorPrice}"                      >
                        <ion-input type="number" placeholder="Precio" [(ngModel)]="item.precioUnitario" (ionBlur)="onBlurPrice(item)" (keyup)="onFocusPrice(item)" (ngModelChange)="onFocusPrice(item)"></ion-input>
                      </div>
                    </ion-card-content>
                  </div>
                </ion-card>
            
                <!-- <ion-card class="animated-top price-card" *ngIf="addNewPrice || firstCapt">
                  <ion-card-header>
                    <div class="number-price">
                      <span>{{lstPrices.length + 1}}</span>
                    </div>
                    <div class="price-tl" >
                      Agregar Precio
                    </div>
                    <div class="icon-price">
                    </div>
                  </ion-card-header>
                  <div class="cardt" >
                    <ion-card-content *ngIf="!addNewPrice">
                      <div class="price-container">
                        <div class="symboladd">
                          <span class="price-tl">
                            <ion-button (click)="createNewPrice()" expand="block" fill="clear" shape="round">
                              <ion-icon name="add-outline"></ion-icon>
                            </ion-button>
                          </span>
                        </div>
                      </div>
                    </ion-card-content>
                    <ion-card-content >
                      <span class="title-price">Cantidad</span>
                      <div class="price-container">
                        <div class="min">
                          <span class="title-price">Mín</span>
                          <ion-input type="number" min="1" max="1000" placeholder="0"></ion-input>
                        </div>
                        <div class="to">
                          <ion-icon name="caret-forward-outline"></ion-icon>
                        </div>
                        <div class="max">
                          <span class="title-price">Máx</span>
                          <ion-input type="number" min="1" max="1000" placeholder="0"></ion-input>
                        </div>
                      </div>
                      <div class="price">
                        <ion-input type="number" placeholder="Precio"></ion-input>
                      </div>
                    </ion-card-content>
                  </div>
                  
                </ion-card> -->
                <ion-card class="animated-top price-card" *ngIf="addNewPrice || firstCapt">
                  <ion-card-header>
                    <div class="number-price">
                      <span>{{lstPrices.length + 1}}</span>
                    </div>
                    <div class="price-tl" >
                      Agregar Precio
                    </div>
                    <div class="icon-price">
                    </div>
                  </ion-card-header>
                  <div class="cardt" >
                    <ion-card-content >
                      <div class="price-container">
                        <div class="symboladd">
                          <span class="price-tl">
                            <ion-button (click)="createNewPrice()" expand="block" fill="clear" shape="round">
                              <ion-icon name="add-outline"></ion-icon>
                            </ion-button>
                          </span>
                        </div>
                      </div>
                    </ion-card-content>
                   
                  </div>
                  
                </ion-card>
              </div>
        </div>
        <div class="containerBtn">
      
          <ion-button fill="outline" color="dark" shape="round" expand="block">
            Guardar
          </ion-button>
          
        </div>
    
    </div>


</ion-content>



  