<div class="contenedor">
    <div class="header">
        <label>{{moduleName}}</label>
    </div>
    <div class="body">
        <div class="container-fluid">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-1 mt-1">
                        Filtro:
                    </div>
                    <div class="col-sm-12 col-md-5">
                        
                        <div class="input-group mb-3">
                            
                            <input class="form-control" type="text" name="txtFiltro" id="txtFiltro" [(ngModel)]="filtro">
                            <div class="input-group-prepend" (click)="getTiposProductos()">
                                <button class="btn btn-outline-info" id="basic-addon1"><i class="fa fa-search"></i></button>
                              </div>
                          </div>
                    </div>
                    <div class=" col-md-6 text-right">
                        <button class="btn btn-info" type="button" (click)="openMdlTiposProductos()"><i
                            class="fas fa-plus"></i> Agregar</button>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-12 mb-5">

                        <card-swipper [items]="lstTiposProductos" [itemTemplate]="templateIngredients" [loading]="loaded"
                            *ngIf="lstTiposProductos"></card-swipper>

                        <ng-template #templateIngredients let-item >
                            <div class="row mb-2">
                                <div class="col-md-12 text-right">
                                    <button class="btn btn-sm btn-warning mr-2" id="btnEdit" (click)="editType(item);"><i class="fa fa-edit"></i></button>
                                    <button class="btn btn-sm btn-danger" id="btnDelete" (click)="dropType(item)"><i class="fa fa-times"></i></button>

                                </div>
                            </div>
                            <div class="card" *ngIf="lstTiposProductos">
                                <div class="card-name">{{item.nombreTipo}}</div>
                                <div class="card-value">{{ item.descripcion}} </div>

                                <img [src]="convertToBase64(item.foto)" alt="Carta" class="card-image">
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <small>Versión {{version}}</small>
                <h5>{{moduleName}}</h5>
            </div>
        </div>
    </div>
</div>
<app-mdl-tipos-productos #mdlCaptura (onClose)="onCloseModal($event)"></app-mdl-tipos-productos>