<!-- card-catalog.component.html -->
<div class="card-container">
    <div class="card" *ngFor="let card of cards">
      <div class="card-header">
        <div class="chip"></div>
      </div>
      <div class="card-body">
        <div class="card-number">**** **** **** {{ card.number }}</div>
        <div class="card-holder">{{ card.holder }}</div>
        <div class="card-expiry">{{ card.expiry }}</div>
      </div>
    </div>
  </div>

  <ion-button expand="block" fill="outline" color="dark" shape="round" (click)="addNewCard()">Agregar Nueva Tarjeta</ion-button>
  