/* card-catalog.component.css */
.card-container {
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* gap: 20px; */
    padding: 20px;
    justify-content: center;
  }
  
  .card {
    width: 300px;
    height: 180px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .card-header {
    height: 30%;
    background-color: #007bff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
  }
  
  .chip {
    width: 50px;
    height: 30px;
    background-color: #f8f9fa;
    border-radius: 5px;
  }
  
  .card-body {
    padding: 10px;
  }
  
  .card-number {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .card-holder {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
  }
  
  .card-expiry {
    font-size: 14px;
    color: #666;
  }
  .btn-bottom{
    position: absolute;
    display: flex;
    justify-items: center;
    bottom: 20px;
    transform: translateX(-50%);
    left: 50%;
    justify-content: center;
    flex-wrap: wrap;
  }
  .no-cards {
    opacity:  0.5;
  }