<ng-template #mdlCapt let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                {{ modalname }}
            </h5>
            <button type="button" class="close" aria-label="Close" (click)="closeModalCapt()"><i class="fas fa-times"
                    aria-hidden="true"></i></button>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <label for="cboCatProductos">Tipo de Alimentación</label>
                        <select name="cboCatProductos" class="form-select form-control" [(ngModel)]="idTipoAlim">
                            <option value="0" disabled selected>Seleccione una opción</option>
                            <option *ngFor="let r of lst" [value]="r.idTipoAlimentacion">
                                {{r.tipoAlimentacion}}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-md-10">
                        <input class="form-control" type="text" name="txtFiltro" id="txtFiltro">
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-info" (click)="getIngredientes()"><i class="fas fa-search"></i> Buscar</button>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-md-12">


                        <div class="scrollable-div" style="font-size: small;">

                            <table class="table ">
                                <thead>
                                    <tr>
                                        <th scope="col" class="table-secondary"></th>
                                        <th scope="col" class="table-secondary" [hidden]="true">idIngrediente</th>
                                        <th scope="col" class="table-secondary">Ingrediente</th>
                                        <th scope="col" class="table-secondary" [hidden]="true">descripcion</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let r of lstIngredientes; let i = index;">
                                        <th scope="row">
                                            <input type="checkbox" 
                                            [checked]="isSelected(r)"
                                            (change)="toggleSeleccion(r)" >
                                        </th>
                                        <th scope="row" [hidden]="true">{{r.idIngrediente}}</th>
                                        <th scope="row">{{r.ingrediente}}</th>
                                        <th scope="row" [hidden]="true">{{r.descripcion}}</th>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <!-- [checked]="lstIngreSelec.includes(r)" -->


            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-info" type="button" (click)="controlRestriccionIngredients()"><i class="fas fa-save"></i>
                Guardar</button>
        </div>
    </div>
</ng-template>