<!-- <router-outlet *ngIf="!isLoged" ></router-outlet> -->
<body>
  <div id="dashboard">
    <div id="header">
      
      <div class="textMain" (click)="toggleSidebar()">
      <small>Admon</small>
      <h1>YumMi</h1>
      </div>
      <div class="container-info" *ngIf="isLoged">
        <div class="user-info">
          <img src="../assets/images/user-default.png" alt="Foto de usuario" class="user-photo" (click)="toggleMenu()">
          <div class="dropdown-menu" [class.active]="menuOpen">
            <ul>
              <li>Configurar</li>
              <li (click)="closeSession()">Cerrar Sesión</li>
            </ul>
          </div>
          <span class="user-name">Axel</span>
        </div>
      </div>
      
    </div>
    <div id="content">
      <aside id="sidebar" [class.active]="sidebarOpen" *ngIf="isLoged">
        <div class="close-button"(click)="closeSidebar()">
          <i class="fas fa-times"></i>
        </div>
        
        <nav>
          <ul>
            <li><i class="fas fa-home"></i> <a href="/">Inicio</a></li>
            <li (click)="toggleSubMenu('catalogos')" [class.selected]="selectedMenu === 'catalogos'">
              <i class="fas fa-book"></i>
              <a>Catalogos</a>
              <ul class="sub-menu" [ngClass]="{ 'active': subMenuOpen && selectedMenu === 'catalogos' }">
                <li><a href="/catalog/aplicaciones">Aplicaciones</a></li>
                <li><a href="/catalog/cargos">Cargos</a></li>
                <li><a href="/catalog/tiposproductos">Tipos Productos</a></li>
                <li><a href="/catalog/ingredientes">Ingredientes</a></li>
                <li><a href="/catalog/tiposnotificaciones">Tipos Notificaciones</a></li>
                <li><a href="/catalog/categorias">Categorias</a></li>
                <li><a href="/catalog/tiposusuarios">Tipos de Usuarios</a></li>
                <li><a href="/catalog/promociones">Promociones</a></li>
                <li><a href="/catalog/tipossolicitudes">Tipos de Solicitudes</a></li>
                <li><a href="/catalog/tiposalimentacion">Tipos de Alimentacion</a></li>
                <li><a href="/catalog/opcmenucargo">Opciones por Cargo</a></li>
                <li><a href="/catalog/personal">Personal</a></li>
              </ul>
            </li>
            <li><i class="fas fa-file-contract"></i> <a href="#/report">Reportes</a></li>
            <li><i class="fas fa-chart-line"></i> <a href="#/contract">Estadisticas</a></li>
            <li><i class="fas fa-eye"></i> <a href="#/company">Vistas</a></li>
            <li><i class="fas fa-warehouse"></i> <a href="#/deals">Establecimientos</a></li>
            <li><i class="fas fa-users"></i> <a href="#/task">Clientes</a></li>
            <li><i class="fas fa-utensils"></i> <a href="#/products">Productos</a></li>
            <li><i class="far fa-id-badge"></i> <a href="#/documents">Solicitudes</a></li>
            <li><i class="fas fa-wallet"></i> <a href="#/settings">Pagos</a></li>
          </ul>
        </nav>
      </aside>
      <main id="main-content">
        <router-outlet >
        </router-outlet>
      </main>
    </div>
  </div>
</body>

<block-ui></block-ui>