
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  .fade-in {
    animation: fadeIn 0.5s ease;
  }
  ion-skeleton-text {
  --border-radius: 9999px;
  --background: rgb(255, 0, 0);
  --background-rgb: 255, 0, 0;
}


.calendar-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}

button {
  background-color: #ffffff;
  color: #000000;
  border: none;
  padding: 15px;
  cursor: pointer;
  height: 100%;
  font-size: 20px;
  
}

/* 
button:hover {
  background-color: #ffffff;
} */
.filter{
  position: sticky;
  color: rgb(48, 48, 48);
  overflow-x: scroll;
}

.filter-buttons-container, .chip-container {
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
  margin: 5px 5px 5px 5px;
  
}

.buttons-container{
  position: absolute;
  bottom: 0;
  width: 92%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  justify-content: space-between;
  ion-button{
    display: flex; 
    width: 20vh;
  }
}
.list-states{
  display: block;
  
  width: 100%;
}
.state-template{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  width: 100%;
  flex-direction: column;
  
  
}
ion-select{
  border: 1px solid #353535;
  width: 100%;
  height: 70px;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
}
.filter-buttons-container::-webkit-scrollbar {
  width: 0;
}
.chip-container::-webkit-scrollbar{
  width: 0;
}

.selected{
  border: 2px solid #5cb85c;    
}
.list{
  height: 70vh;
  overflow-y: auto;
}

ion-img{
  --border-radius: 10px;
  /* min-width: 80px; */
}
.contenedor-search {
  position: relative;
}
