<ion-header collapse="fade">
  <ion-toolbar class="ion-text-center">
    <ion-buttons slot="start">
      <ion-button class="btnReturn">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  
     <div class="calendar-header">
      <button (click)="antMonth()">
        <!-- Anterior -->
        <ion-icon name="chevron-back-outline"></ion-icon>
      </button>
      <ion-datetime displayFormat="MMMM YYYY" [(ngModel)]="fecha" locale="es-ES" min="2023-01-01" max="2025-12-31" (ngModelChange)="onChangeMonth()"></ion-datetime>
      <button (click)="nextMonth()">
        <ion-icon name="chevron-forward-outline"></ion-icon>
        <!-- Siguiente -->
      </button>
    </div>
  </ion-toolbar>
</ion-header>

  <ion-content>
    
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div class="filter">
      
      <div class="filter-buttons-container">
        <ion-button  shape="round" fill="outline" [color]="sort ? 'success' : 'dark'" size="small" slot="end" (click)="clearFilters()">
            <ion-icon name="filter-outline"></ion-icon>
          </ion-button>
        <ion-button fill="outline" shape="round" [color]="filter.selected ? 'success' : 'dark'" *ngFor="let filter of lstFiltros" size="small"
            (click)="selectedFilter(filter)">
          {{filter.nombre}}
        </ion-button>
      </div>
      <div class="chip-container">
        <ion-chip color="dark" *ngIf="filterValueSelected(0) && filtrosAplicables.Clasificacion && filtrosAplicables.itemClasificacion" >
          <ion-avatar>
            <img [src]="imagenBase64(filtrosAplicables.itemClasificacion.Foto)" />
          </ion-avatar>
          <ion-label>{{filtrosAplicables.itemClasificacion.NombreTipo}}</ion-label>
          <ion-icon name="close-circle" (click)="removeClasificacion()"></ion-icon>
        </ion-chip>
        <ion-chip color="dark" *ngIf="filterValueSelected(1) && filtrosAplicables.FoodHub && filtrosAplicables.itemFoodHub" >
          <ion-avatar>
            <img [src]="imagenBase64(filtrosAplicables.itemFoodHub.foto)" />
          </ion-avatar>
          <ion-label>{{filtrosAplicables.itemFoodHub.nombreHub}}</ion-label>
          <ion-icon name="close-circle" (click)="removeFoodHub()"></ion-icon>
        </ion-chip>
        <ion-chip color="dark" *ngIf="filterValueSelected(2) && filtrosAplicables.Estado && filtrosAplicables.stringEstado" >
          <ion-icon name="location" color="danger"></ion-icon>
          <ion-label>{{filtrosAplicables.stringEstado}}</ion-label>
          <ion-icon name="close-circle" (click)="removeEstado()"></ion-icon>
        </ion-chip>
        <ion-chip color="dark" *ngIf="filterValueSelected(3) && filtrosAplicables.Producto && filtrosAplicables.itemProducto" >
          <ion-avatar>
            <img [src]="imagenBase64(filtrosAplicables.itemProducto.picture)" />
          </ion-avatar>
          <ion-label>{{filtrosAplicables.itemProducto.nombreProducto}}</ion-label>
          <ion-icon name="close-circle" (click)="removeProducto()"></ion-icon>
        </ion-chip>
        <ion-chip color="dark" *ngIf="filterValueSelected(4) && filtrosAplicables.Categoria && filtrosAplicables.itemCategoria" >
          <ion-avatar>
            <img [src]="imagenBase64(filtrosAplicables.itemCategoria.Foto)" />
          </ion-avatar>
          <ion-label>{{filtrosAplicables.itemCategoria.Categoria}}</ion-label>
          <ion-icon name="close-circle" (click)="removeCategoria()"></ion-icon>
        </ion-chip>
        <ion-chip color="dark" *ngIf="filterValueSelected(5) && filtrosAplicables.TipoAlimentacion && filtrosAplicables.itemTipoAlimentacion" >
            <ion-icon name="fast-food-outline"></ion-icon>
          <ion-label>{{filtrosAplicables.itemTipoAlimentacion.TipoAlimentacion}}</ion-label>
          <ion-icon name="close-circle" (click)="removeTipoAlimentacion()"></ion-icon>
        </ion-chip>
      </div>
      <div>
        <!-- <ion-button id="open-modal" expand="block" (click)="openMdlFoodHubs()">Open Sheet Modal</ion-button> -->
        <ng-template #templateFoodHub let-item >
          <div>
            <ion-searchbar [debounce]="100" [(ngModel)]="filtro" (ionChange)="handleChange($event)" placeholder="Buscar"></ion-searchbar>
            <div class="list">
              <ion-radio-group [(ngModel)]="filtrosAplicables.valueFoodHub"> 
                <ion-list >
                  <ion-item *ngFor="let value of lstFoodHub" >
                    <ion-thumbnail slot="start">
                      <ion-img [src]="imagenBase64(value.foto)"></ion-img>
                    </ion-thumbnail>
                    <ion-label>
                      <h2>{{value.nombreHub}}</h2>
                      <p>{{value.municipio}}, {{value.nombreEstado}}</p>
                    </ion-label>
                    <ion-radio slot="end" [value]="value.idFoodHub" (click)="selectFoodHub(value)" ></ion-radio>
                  </ion-item>
                </ion-list>
              </ion-radio-group>
              
            </div>
          </div>
      </ng-template>
      </div>
      <div>
        <!-- FILTROS Estados -->
        <ng-template #templateEstados let-item >
          <div class="state-template">
            <div class="list-states">
              <ion-list>
                <ion-list-header>
                  <ion-label>Estado</ion-label>
                </ion-list-header>
                <ion-item>
                  <ion-select aria-label="State" interface="action-sheet" placeholder="Seleccionar Estado" [(ngModel)]="filtrosAplicables.valueEstado" (ngModelChange)="onChangeEstado()">
                    <ion-select-option [value]="state.IdEstado" *ngFor="let state of lstEstados">{{state.Nombre}}</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-list>
              <ion-list>
                <ion-list-header>
                  <ion-label>Municipio</ion-label>
                </ion-list-header>
                <ion-item>
                  <ion-select aria-label="State" interface="action-sheet" placeholder="Seleccionar Estado" [(ngModel)]="filtrosAplicables.itemEstado">
                    <ion-select-option [value]="municipio.IdMunicipio" *ngFor="let municipio of lstMunicipio">{{municipio.Nombre}}</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-list>
            </div>
            <div class="buttons-container">
              <ion-button class="ion-margin-top" (click)="closeMdlEstado()" fill="outline" shape="round" color="dark">
                Cancelar
              </ion-button>
              <ion-button class="ion-margin-top" (click)="aceptarEstado()" fill="outline" shape="round" color="dark">
                Aceptar
              </ion-button>
            </div>
          </div>
      </ng-template>
      </div>
      <div>
        <!-- FILTROS DE PRODUCTOS -->
        <ng-template #templateProductos let-item >
          <div>
            <ion-searchbar [debounce]="100" [(ngModel)]="filtro" (ionChange)="handleChangeProducto($event)" placeholder="Buscar"></ion-searchbar>
            <div class="list">
              <ion-radio-group [(ngModel)]="filtrosAplicables.valueProducto"> 
                <ion-list >
                  <ion-item *ngFor="let product of lstProductos" >
                    <ion-thumbnail slot="start">
                      <ion-img [src]="imagenBase64(product.picture)"></ion-img>
                    </ion-thumbnail>
                    <ion-label>
                      <h2>{{product.nombreProducto}}</h2>
                    </ion-label>
                    <ion-radio slot="end" [value]="product.idProducto" (click)="selectProduct(product)" ></ion-radio>
                  </ion-item>
                </ion-list>
              </ion-radio-group>
              
            </div>
          </div>
      </ng-template>
      </div>
      <div >
        <!-- Filtros de CATEGORIAS -->
        <ng-template #templateCategorias let-item >
          <div>
            <ion-searchbar [debounce]="100" [(ngModel)]="filtro" (ionChange)="handleChangeCategorias($event)" placeholder="Buscar"></ion-searchbar>
            <div class="list">
              <ion-radio-group [(ngModel)]="filtrosAplicables.valueCategoria"> 
                <ion-list >
                  <ion-item *ngFor="let value of lstCategorias" >
                    <ion-thumbnail slot="start">
                      <ion-img [src]="imagenBase64(value.Foto)"></ion-img>
                    </ion-thumbnail>
                    <ion-label>
                      <h2>{{value.Categoria}}</h2>
                    </ion-label>
                    <ion-radio slot="end" [value]="value.IdCategoria" (click)="selectTipoComida(value)" ></ion-radio>
                  </ion-item>
                </ion-list>
              </ion-radio-group>
              
            </div>
          </div>
      </ng-template>
      </div>
      <div >
        <!-- Tipo Alimentacion -->
        <ng-template #templateTipoAlimentacion let-item >
          <div>
            <ion-searchbar [debounce]="100" [(ngModel)]="filtro" (ionChange)="handleChangeTipoAlimentacion($event)" placeholder="Buscar"></ion-searchbar>
            <div class="list">
              <ion-radio-group [(ngModel)]="filtrosAplicables.valueTipoAlimentacion"> 
                <ion-list >
                  <ion-item *ngFor="let value of lstTipoAlimentacion" >
                    <!-- <ion-thumbnail slot="start">
                      <ion-img [src]="imagenBase64(value.Foto)"></ion-img>
                    </ion-thumbnail> -->
                    <ion-label>
                      <h2>{{value.TipoAlimentacion}}</h2>
                    </ion-label>
                    <ion-radio slot="end" [value]="value.IdTipoAlimentacion" (click)="selectTipoComida(value)" ></ion-radio>
                  </ion-item>
                </ion-list>
              </ion-radio-group>
              
            </div>
          </div>
      </ng-template>
      </div>
      <div>
        <!-- Clasificacion -->
        <ng-template #templateClasificacion let-item >
          <div>
            <ion-searchbar [debounce]="100" [(ngModel)]="filtro" (ionChange)="handleChangeClasificacion($event)" placeholder="Buscar"></ion-searchbar>
            <div class="list">
              <ion-radio-group [(ngModel)]="filtrosAplicables.valueClasificacion"> 
                <ion-list >
                  <ion-item *ngFor="let value of lstClasificacion" >
                    <ion-thumbnail slot="start">
                      <ion-img [src]="imagenBase64(value.Foto)"></ion-img>
                    </ion-thumbnail>
                    <ion-label>
                      <h2>{{value.NombreTipo}}</h2>
                    </ion-label>
                    <ion-radio slot="end" [value]="value.IdTipo" (click)="selectTipoComida(value)" ></ion-radio>
                  </ion-item>
                </ion-list>
              </ion-radio-group>
              
            </div>
          </div>
      </ng-template>
      </div>
    </div>
    <div class="empty-container" *ngIf="lstFechas.length <= 0 && loaded">
      <ion-img class="img-empty" src="../../../../../assets/Images/sad-svgrepo-com.svg"></ion-img>
      <label>No se encontraron fechas programadas en este mes. ¡Programa una desde tus productos! o haz <a href="/products/catalog">click aqui</a></label>
    </div>
    <thumbs-skelly *ngIf="lstFechas.length > 0 || !loaded" [data]="lstFechas" [loaded]="loaded" (showDetails)="selectedDate($event)"
      (slicedStart)="confirmDate($event)" (slicedEnd)="deleteArchiveDate($event)"></thumbs-skelly>

  </ion-content>


<!-- <div [@stagger] *ngIf='show'>
    <div *ngFor="let item of items">{{ item }}</div>
  </div> -->