<!-- <nav class="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="fa fa-home"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="fa fa-user"></i>
        <span>Clientes</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="fa fa-file"></i>
        <span>Facturas</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="fa fa-cog"></i>
        <span>Configuración</span>
      </a>
    </li>
  </ul>
</nav> -->

<!-- <aside class="sidebar" [ngClass]="{ 'closed': !sidebarOpen }">
  <button (click)="toggleSidebar()" class="toggle-btn">Toggle Sidebar</button>
  <ul>
    <li><a routerLink="/dashboard">Dashboard</a></li>
    <li><a routerLink="/clientes">Clientes</a></li>
    <li><a routerLink="/productos">Productos</a></li>
  </ul>
</aside> -->