ion-slides {
    height: 20%;
    background-color: rgb(58, 56, 56);
    margin: 10px 10px 10px 10px ;
    border-radius: 20px;
 
  }

  /* ion-slides .swiper-pagination-bullet {
    --bullet-background: #37469B;
  }
  ion-slides  .swiper-pagination-bullet-active {
      width: 12px;
      height: 12px;
     --bullet-background: transparent;
  }
   */
  