<ion-content >
  
  
  <ion-card class="fullCard">  
    <div class="containerSloter">
      <div class="sloter">
        <div class="slot selected"></div>
        <div class="slot"></div>
        <div class="slot"></div>
        <div class="slot"></div>
        <div class="slot"></div>
      </div>
    </div>
      <div class="containerFull" #slide1  >
        
          
          
          <div class="container">
            <h5>¿Qué vas a capturar?<label class="requiered">*</label></h5>
            <ion-card *ngFor="let option of lstTypeof; let i = index"  [(ngModel)]="product.idTipo" >
              <div [@fade]="in">
                <ion-card-header>
                  <ion-card-title>{{option.NombreTipo}}</ion-card-title>
                  <div class="description">{{option.Descripcion}}</div>
                </ion-card-header>
                <ion-card-content>
                  <img [src]="imagenBase64(option.Foto)" slot="start">
                </ion-card-content>
              </div>
              
            </ion-card>
          </div>
        <ion-item>
          <ion-card-subtitle>¿Es de un grupo de alimentación en especifico?<label class="requiered">*</label></ion-card-subtitle>
          <ion-label position="floating">Selecciona Grupo</ion-label>
          <ion-select>
            <ion-select-option *ngFor="let option of lstAlimentacion" [value]="option.tipo">
              {{ option.nombre }}
            </ion-select-option>
          </ion-select>
        </ion-item>    
      </div>

      <div class="containerFull" #slide1>
        <ion-item class="transparent-item" #typeOf>
         
        </ion-item>
        
      </div>
  </ion-card>
  <div class="containerBtn">
    <ion-button fill="outline" shape="round" color="dark" expand="block">
      Continuar
    </ion-button>
  </div>
</ion-content>