.lecard ion-card {
  position: relative;
  background-image: url('../../../../../assets/Images/wave.svg');
  background-size: cover;
  background-position: center;
}


.sloter {
    display: flex;
    width: 90%;
    margin: 10px auto; 
  }
  
  .slot {
    flex: 1;
    height: 10px;
    background-color: #ccc;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .selected {
    background-color: orange;
     
  }

ion-card-subtitle{
    top: 1rem;   
    /* bottom: 1rem; */
}
.fullCard{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    
}
.containerFull{
    border-radius: 20px;
    width: 90%;
    margin: 0 auto; 
    /* box-sizing: border-box; */
}
.imgCard{
  position: relative;
  width: 100px;
  height: 80px;
  border-radius: 20px;
  right:0;
  /* border: 4px solid; */
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.description{
  width: 70%;
  color: black
}
.containerBtn {
    position: fixed;
    width: 70%;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
    text-align: center;
    box-sizing: border-box;
  }
  .containerSloter {
    /* position: fixed; */
    width: 100%;
    /* left: 50%; */
    top: 3rem;;
    /* transform: translate(-50%, -50%); */
    text-align: center;
    box-sizing: border-box;
  }

  .container {
    position: relative;
    min-width: 100px;
    
  }

  .container img {
    position: absolute; 
    top: 0;
    right: 0;
    width: 100px;
    height: 80px;
    border-radius: 20px;
    transform: translateY(-90%);
    padding: 10px;
    margin-right: 10px;
    /* border: 4px solid rgb(255, 255, 255); */
    z-index: 0;
  }
 
  .icon-right{
    position: absolute;
    right: 0;
    top: 0;
    margin: 2px;
    font-size: 30px;
    color: rgb(65, 3, 3);
    z-index: 999;
    background-color: rgb(255, 57, 57);
    border-radius: 50% 50%;
  }
  .selectedItem ion-card {
    animation: scaleUp 0.5s ease-out;
  }
  
  @keyframes scaleUp {
    from {
      transform: scale(1);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }