<span style="color:red;" *ngIf="message">{{message}}</span>


<div class="row">
    <div class="col-12">
        <div class="borderImg backImagen alinearCentro">
            <img [src]="imgURL" height="200px" width="100%" *ngIf="imgURL" alt="Imagen">
        </div>
    </div>
</div>
<div *ngIf="Mostrar" class="row mt-1">
    <div #IdSubirArchivos class="col-12">
        <!--<input #file type="file" accept='image/*' (change)="preview(file.files)" class="input-file" id="imagen" />-->
        <ngccs-archivos #Archivos [Ocultar]="true" [Configuracion]="Confi" [Id]="'imagen'">
        </ngccs-archivos>
        <label for="imagen" class="btn btn-info btn-block">
            <i class="fa fa-file-image"></i><i [ngClass]="letraStyle">{{imgName}}</i>
        </label>
    </div>
</div>