
.btnReturn{
    border-radius: 50%;
    background-color: white;
    width: 3rem;
    height: 3rem;
}
.fabOk {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

.fabdanger {
  position: relative;
  top: 42%;
  right: 0;
  margin: 10px;
  display: flex;
  align-items: center;
  width: 100%;
}

.textError {
  margin-right: 10px;
  background-color: #d9534f;
  font-weight: bold;
  color: white;
  border-radius: 30px;
  padding: 10px;
  width: 80%; 
}



.buttonsOnTop{
    z-index: 0;
    position: fixed;
    padding: 1rem;
}
  .product-image {
    
    
    width: 100%;
    height: 50%;
    object-fit: cover;
    z-index: 9999;
  }

  
  .background-image {
    position: absolute;
    width: 100%;
    height: 70%;
    background-size: cover;
    background-position: center; 
    z-index: -1;
  }
  
  
  
  .buttonsOnTop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    z-index: 1;
  }
  

  
  ion-title {
    color: white;
  }
  .container {
    position: fixed;
    border-radius: 20px 20px 0 0 ;
    top: 50%;
    left: 0;
    width: 100%;
    height: 150%;
    padding: 0;
    margin-left: 0;
    background-color: rgba(255, 255, 255, 1);
    

    z-index: 1;
  }
  .animate {
    transition: font-size 0.3s ease, transform 0.3s ease;
  }
  .center-title {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: font-size 0.3s ease, transform 0.3s ease;
  }
  .fadeOut {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .fadeIn.active {
    opacity: 1;
  }
  .round-button {
    flex-direction: column;
 
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
    text-align: center;
   
    div {
      margin-top: 5px; 
    }
  }
  ion-button.round-button{
    --background : linear-gradient(to top, #eeeeee, #fafbfc);
    --border-radius : 50%
    
  }
  .round-button ion-icon{
    font-size: 25px;
    color: #5a5b5f
  }



  .filter-buttons-container {
    align-items: center;
  }
  
  .small-button {
    margin-left: auto; 
  }
  
  .custom-input {
    border: none;
    background: none;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
    width: 100%;
    
  }
  .editing-name {
    border: 2px solid #8a8a8a; 
    border-radius: 10px;
  }
  
  .editing-description {
    border: 2px solid #8a8a8a; 
    border-radius: 10px;
  }
  .line {
    margin-top: 20px;
    width: 100%;
    height: 1px; 
    background-color: #6d6d6d; 
    border-radius: 10px;
  }
  
  
  ion-list {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  ion-item {
    --ion-background-color: #f8f8f8;
    --ion-color: #333;
    --ion-placeholder-color: #999;
  }
  

  .list-prices {
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    margin: 5px;
}

.list-prices::-webkit-scrollbar {
    width: 0;
}

.prices {
    display: flex;
}

.item-price {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 120px;
    height: 150px;
    border: 1px solid #ccc;
    overflow: hidden;
    margin-right: 10px;
    border-radius: 20px;
    flex-shrink: 0; 
    position: relative;
}


.item-price img {
    max-width: 100%;
}

.icon {
    font-size: 50px;
}

.tittle {
    text-align: center;
}

.icon-right {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
    font-size: 15px;
    color: rgb(0, 0, 0);
    z-index: 999;
    border-radius: 50% 50%;
}
