<ion-content [scrollEvents]="true" (touchstart)="onTouchStart($event)" (touchmove)="onTouchMove($event)"
  (touchend)="onTouchEnd()">


  <!-- <div #backgroundImage class="background-image" [style.backgroundImage]="'url(../../../../assets/Images/gato.jpg)'"></div> -->
  <div #backgroundImage class="background-image" [style.backgroundImage]="'url(' + imagenBase64(Producto.foto)+ ')'">
  </div>
  <div #faded class="background-image"></div>
  <div class="buttonsOnTop">
    <ion-buttons slot="start">
      <ion-button class="btnReturn" (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="reachedTop" class="animated-text">{{ Producto.nombreProducto }}</ion-title>
  </div>
  <ion-fab slot="fixed" vertical="top" horizontal="end">
    <ion-fab-button color="light">
      <ion-icon name="ellipsis-vertical-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button fill (click)="enabledEdition()">
        <ion-icon name="create-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="trash-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="share-social-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <div *ngIf="!Producto.preciosConfigurados" class="fabdanger">
    <div class="textError">El producto no esta disponible hasta que se le configuren los precios</div>
    <ion-fab-button color="danger">
      <ion-icon name="alert-outline"></ion-icon>
    </ion-fab-button>
  </div>



  <ion-card #container class="container" [style.overflow-y]="allowScroll ? 'scroll' : 'hidden'">

    <ion-card-header #tittle>
      <ion-card-title>
        <div (click)="enableEditName = true;">
        <strong
          *ngIf="!enableEditName"
          class="editable-field"
        >
          {{ Producto.nombreProducto }}
        </strong>
        </div>
        <ion-input
          #nombreProductoInput
          *ngIf="enableEditName"
          [(ngModel)]="Producto.nombreProducto"
          class="custom-input editing-name"
          (ionBlur)="enableEditName = false; "
        ></ion-input>
      </ion-card-title>
    
      <ion-card-subtitle class="ion-margin-top" >
        <strong
          
          class="editable-field"
          (click)="enableEditDescription = true;"
        >
          Acerca de
        </strong>
      </ion-card-subtitle>
      <ion-textarea
        *ngIf="enableEditDescription"
        [(ngModel)]="Producto.descripcion"
        class="custom-input editing-description"
        (ionBlur)="enableEditDescription = false; "
      ></ion-textarea>
    
      <p *ngIf="!enableEditDescription">{{ Producto.descripcion }}</p>
    
      <ion-fab-button  class="fabOk" color="success">
        <ion-icon name="calendar-outline"></ion-icon>
      </ion-fab-button>
    </ion-card-header>
    
    
    <ion-card-content>
     
      <p><strong>Categorias</strong></p>
      <div class="filter-buttons-container">
        <!-- Botones de filtro -->
        <ng-container *ngFor="let filter of lstCategorias">
          <ion-button fill="outline" shape="round" color="dark" size="small" (click)="selectedCategory(filter)">
            {{filter.nombre}}
            <ion-icon class="icon" name="close-outline" class="small-button" *ngIf="enableEdit"></ion-icon>
          </ion-button>
        </ng-container>
        <ion-button fill="outline" shape="round" size="small" *ngIf="enableEdit">
          <ion-icon class="icon" name="add-outline"></ion-icon>
        </ion-button>

      </div>
      
      <p><strong>Ingredientes</strong></p>
      <div *ngIf="datosCargados">
        <horizontal-list #list [options]="lstIngredientes" [enabledOptions]="this.enableEdit"
          (itemSelected)="selectedIngrediente($event)">
          <div *ngFor="let option of lstIngredientes">
            <img [src]="imagenBase64(option.foto)" image>
            <div title>{{ option.nombre }}</div>
          </div>
        </horizontal-list>
      </div>

      <div class="ion-margin-top" *ngIf="datosCargados">
        <p><strong>Precios</strong></p>
        
        <div class="list-prices">
          <div class="prices">
            <div class="item-price" *ngFor="let prices of lstPrecios; let i = index" (click)="selectedItem(option)">
              <div class="item-content-prices">
                <p class="icon-right">{{prices.idPrecio}}</p>
                <!-- <ion-icon class="icon-right" name="close-circle-outline"></ion-icon> -->
                <p>Precio</p>
                <h1><strong>{{prices.precioUnidad | currency}}</strong></h1>
                <h2 class="ion-margin-top">{{prices.cantidadMinima}} 
                  <ion-icon name="caret-forward-outline"></ion-icon>
                  {{prices.cantidadMaxima}}
                </h2>                
                <div class="mini-title" *ngIf="prices.cantidadMinima !== undefined && prices.cantidadMaxima !== undefined">
                  <p>Mín - Máx</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ion-button size="small" color="dark" (click)="openMdlPriceDetail()" expand="block" fill="outline" shape="round">
          {{lstPrecios.length > 0  ? 'Ver más detalles' : 'Capturar precios'}}
        </ion-button>
      </div>
      





    </ion-card-content>
  </ion-card>
</ion-content>