ion-content{
  --background: rgb(228,250,6);
  --background: linear-gradient(353deg, rgba(228,250,6,1) 0%, rgba(255,39,2,0.7343312324929971) 95%);
}
.header-login {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.header-login img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  background-color: rgb(241, 241, 241);
  padding: 10px;
}
.login-content {
  background-color: white;
  border-radius: 30px;
  position: fixed;
  padding: 20px;
  transform: translateY(10%);
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0px -9px 54px -12px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px -9px 54px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -9px 54px -12px rgba(0,0,0,0.75);
}

.login-item {
  margin-bottom: 20px;
}

.login-item ion-item {
  border-radius: 10px;
  --background: rgba(0, 0, 0, 0.05);
}

.login-item ion-label {
  color: #333;
}

.login-item ion-input {
  --padding-start: 10px;
}

.forgotPass {
  color: #007bff;
  cursor: pointer;
}

.btn {
  --background: rgb(250,120,6);
--background: linear-gradient(319deg, rgba(250,120,6,1) 0%, rgba(255,2,2,1) 95%);
  font-size: 1em;

  width: 100%;
  transition: background 0.3s ease;
}

.btn:hover {
  background-position: 100% 0; /* Cambiamos la posición del gradiente al hacer hover */
}

/* 
.ion-align-items-center {
  display: flex;
  align-items: center;
}
ion-toolbar {
    --background: transparent;
    --border-width: 0;
    --box-shadow: none;
  }
  .icon{
    background-color: lightgray;width: 100px; height: 100px;
  }
  .image{
    width: 80px; height: 80px; margin-top: 10px;
  }
  .card{
    background-color: #fa4b0ca9 ; 
    
    border-radius: 20px;
  }
 
  ion-fab {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .my-custom-fab-button {
    width: 100px; 
    height: 100px;
    font-size: 24px;
  }
  
  .curved-header {
    margin: 10%;
    text-align: center;
  }
  
  ion-title {
    font-size: 1.5em;
    font-weight: bold;
    
  }
  .forgotPass{
    color: #FA4A0C
  } */