ion-calendar {
    display: block;
    width: 100%;
    height: 300px; /* Ajusta la altura según sea necesario */
  }
  .custom-calendar {
    width: 300px; /* Ajusta el ancho según sea necesario */
    height: 300px; /* Ajusta la altura según sea necesario */
  }
  .date-margin {
    margin-top: -0.5rem;
  }