ion-calendar {
    display: block;
    width: 100%;
    height: 300px;
  }
  .custom-calendar {
    width: 300px;
    height: 300px;
  }
  .date-margin {
    margin-top: -0.5rem;
  }
  .header{
    margin: 20px;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    /* justify-content: center; */
    justify-items: center;
    align-items: center;
    align-content: center;
  }
  ion-item::part(native) {
    background: rgb(36, 36, 36);
  
    border-color: #fff;
    border-style: solid;
    border-width: 2px;
  
    border-radius: 20px;
    width: 100%;
    color: white;
  }
  ion-icon{
    font-size: 30px;
    font-weight: bold;
    margin-right: 10px;
    color: white;
  }

  ion-item::part(detail-icon) {
    opacity: 1;
    font-size: 20px;
  }
  .nodate{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    width: 100%;
    font-size: 20px;
  }
 .des-header{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  
 }
 .note2{
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 2px;
 }
 .tittleProduct{
  position: relative;
  margin: 5px;
 }
 .btnContinue{
  position: relative;
 }
 .imgContainer{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  right: 0;
  top: 0;
  position: absolute;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
  margin: 10px;
 }
 .imgContainer img {
  width: 100%; 
  min-width: 200px;
  height: 100%; 
  object-fit: cover; 
}
.oppadading{
  padding: 20px;
  height: 60px;
}
.ion-text-end {
  color: #007bff;
  font-weight: bold;
}