<ion-header collapse="fade">
    
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button (click)="goBack()"></ion-back-button>
          </ion-buttons>
        <ion-title>Programar</ion-title>
        <ion-buttons slot="end" (click)="continue()">
            <ion-button >
                Continuar
            </ion-button>            
            
          </ion-buttons>

    </ion-toolbar>
  </ion-header>
 <ion-content *ngIf="false">
    <app-accordion [expanded]="false" [expandHeight]="'200px'">
        <ion-card>
            <div class="flex-center">Hola</div>
            <app-accordion [expanded]="false" [expandHeight]="'200px'">
                <ion-card>
                    <div class="flex-center">Hola</div>
                    <app-accordion [expanded]="false" [expandHeight]="'200px'">
                        <ion-card>
                            <div class="flex-center">Hola</div>
                        </ion-card>    
                    </app-accordion>
                </ion-card>    
            </app-accordion>
            
        </ion-card>    
    </app-accordion>
    
    <!-- <dish-view [Picture]="'../../../../assets/Images/food-delivery-start.jpeg'" [Name]="'Tacos'" [Description]="'Taquitos'"></dish-view> -->
    <!-- <div class="header">Vista Previa</div>
    <div class="date">
        <ion-card>
            <ion-card-content>
                <div class="ion-text-end">
                    <strong>08 de Febrero de 2024</strong>
                </div>
                <h1><strong>Tacos de Carne Asada</strong></h1>
                
                <div class="tittleProduct animated-top">
                    

                </div>
                <div class="imgContainer animated-right">
                    <img src="../../../../assets/Images/food-delivery-start.jpeg" alt="">
                </div>
            </ion-card-content>
        </ion-card>
        
    </div> -->
 </ion-content> 
<ion-content *ngIf="true">
    
    <div class="header">
        <div class="tittleProduct animated-top">
            <ion-note>Programando</ion-note>
            <h3>{{Product.nombreProducto}}</h3>
            <ion-note><small>Proximo día programado: </small> <strong>{{this.getFirstDate() ? this.getFirstDate() : 'No se han seleccionado fechas'}}</strong></ion-note>
        </div>
        <div class="imgContainer animated-right">
            <img [src]="imagenBase64(Product.foto)" alt="">
        </div>
        <!-- -->
    </div>
    <div class="date">

        <div class="center-container">
            <ion-item button detail lines="full" (click)="openCalendar()">
                <ion-icon name="time-outline"></ion-icon>
                <div class="nodate">
                    <strong>Ver y seleccionar fechas</strong>
                </div>
            </ion-item>           
        </div>
        <div class="center-container">
            <strong>O</strong>
        </div>
        <div class="center-container">
            <ion-item button detail lines="full" (click)="openPersonalizedSelector()">
                <ion-icon name="calendar-number-outline"></ion-icon>
                <div class="nodate">
                    <strong>Personalizado</strong>
                </div>
            </ion-item>
        </div>

        <ion-card>
            <app-calendar #calendar [spaceBetweeen]="'50px'" [Height]="'50%'" [year]="year"
                [month]="month" (onChange)="onSelectedDate($event)"></app-calendar>
            <div class="center-container ">
                <ion-label>
                    <h3>Permitir Editar</h3>
                </ion-label>
                <ion-toggle (ionChange)="toggleChange($event)" justify="space-between"></ion-toggle>
            </div>
            <div class="center-container note2">
                <ion-note>Puede editar los días seleccionados manualmente</ion-note>
            </div>
        </ion-card>

        <ion-card>
            <ion-card-header>
                <div class="des-header">
                    <ion-icon name="reorder-three-outline"></ion-icon> 
                    <ion-title>Añadir descripcion</ion-title>
                </div>
            </ion-card-header>
            <ion-card-content>
                <ion-textarea [cols]="4" [rows]="4" maxlength="200" 
                    placeholder="Describe comentarios como la hora de entrega o las condiciones de entrega"
                    [counter]="true" [required]="true" [(ngModel)]="description"
                    ></ion-textarea>
            </ion-card-content>
        </ion-card>
    </div>
    <div class="oppadading">

    </div>
    <!-- <div class="description">
        <div class="btnContinue ion-text-end">
            <ion-button fill="outline" shape="round" color="dark">
                Continuar
            </ion-button>
        </div>
    </div> -->
</ion-content>