<ion-header>
    <ion-toolbar>
      <ion-title class="ion-text-start">
        Fecha Programada
      </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="closeModal(false)">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen="true">
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div class="container">
        
    <draggable [Title]="programacion.nombreProducto" [Image]="imagenBase64(programacion.fotoProducto)" [itemTemplate]="template" [headerTemplate]="templateHeader"></draggable>
    <ng-template #templateHeader let-item>
      <div class="unread-indicator-wrapper" slot="end">
        <div class="unread-indicator">
          <small class="smallMonth">{{getMonthName(programacion.fecha)}}</small>
          <small class="smallDay">{{getDay(programacion.fecha)}}</small>
        </div>
      </div>
    </ng-template>
    <ng-template #template let-item >
      <div class="container-template">
        <ion-segment [value]="1" color="dark"  (ionChange)="segmentChanged($event)">
          <ion-segment-button [value]="1">
            <ion-label>General</ion-label>
          </ion-segment-button>
          <ion-segment-button [value]="2">
            <ion-label>Detalles</ion-label>
          </ion-segment-button>
          <ion-segment-button [value]="3">
            <ion-label>Promocionar</ion-label>
          </ion-segment-button>
        </ion-segment>

        <div *ngIf="selectedSegment === 1" [ngClass]="selectedAltSegment > selectedSegment ? 'animated-from-left' : 'animated-from-right'">
          <div class="container-segment">
            <div class="segment-header">
              <h1><strong>{{programacion.nombreProducto}}</strong></h1>
              <ion-fab-button color="light" (click)="openMdlReminder()">
                <ion-icon name="notifications-outline"></ion-icon>
                <!-- AGREGAR UNA NOTIFICACION -->
                <ng-template #templateReminder let-item >
                  <div class="reminder-template">
                    <div class="icon-reminder">
                      
                      <ion-icon name="notifications-outline"></ion-icon>
                      <h1>¡Agrega un recordatorio!</h1>
                      <p>
                        Te avisaremos a la hora que deberias de empezar a preparate
                      </p>
                    </div>
                   
                    
                      
                      <ion-datetime class="ion-text-center" [(ngModel)]="reminderDate" 
                      dayShortNames="Lun, Mar, Mier, Jue, Sab, Dom"
                      displayFormat="DDD. DD MMM"
                      monthShortNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"
                      ></ion-datetime>
                    
                    <reminder [Hour]="programacion.fecha"
                      (selectedHourChange)="handleSelectedHourChange($event)"
                      (selectedMinChange)="handleSelectedMinChange($event)"
                      (selectedTimeChange)="handleSelectedTimeChange($event)"
                      >

                    ></reminder>
                    <div class="buttons-reminder">
                      <ion-button expand="block" fill="outline" shape="round" color="dark" (click)="closeModal()">
                        cancelar
                      </ion-button>
                      <ion-button expand="block" fill="outline" shape="round" color="dark">
                        Aceptar
                      </ion-button>
                    </div>
                  </div>
              </ng-template>
              </ion-fab-button>
            </div>
            <cool-calendar [startDate]="programacion.fecha"></cool-calendar>
            <div class="detail-container">
              <div class="icon-interested">
                <ion-icon name="happy-outline"></ion-icon>
              </div>
              <div class="interest-text">
                <div class="value">
                  100
                </div>
                <div class="title">
                  Interesados
                </div>
                <div class="chart-text">
                  <div class="trending-up">
                    <ion-icon name="trending-up-outline"></ion-icon>
                    +10
                  </div>
                  desde ayer
                  <!-- <ion-icon name="trending-down-outline"></ion-icon> -->
                </div>
              </div>
              
            </div>
            <div class="detail-container">
              <div class="icon-interested">
                $
              </div>
              <div class="interest-text">
                <div class="value">
                  {{ 100 | currency}}
                </div>
                <div class="title">
                  Precio
                </div>
                <div class="chart-text">
                  <div class="trending-up">
                    <ion-icon name="trending-up-outline"></ion-icon>
                    Nivel 5
                  </div>
                  desde ayer
                  <!-- <ion-icon name="trending-down-outline"></ion-icon> -->
                </div>
              </div>
              
            </div>
            <div class="foodhub-container">
              <h1>FoodHub Entrega</h1>
              <ion-card class="animated-top" class="cardMargin" >
                <div class="card-content">
                  <div class="buttons-foodhub">
                    <div class="button-maps">
                      Ver Mapa
                    </div>
                  </div>
                  <div class="image-container">
                    <img [src]="imagenBase64(programacion.fotoFoodHub)" class="imagen-platillo" />
                  </div>
                  <div class="textContainer">
                    <ion-card-header>
                      <ion-card-title>{{ programacion.nombreFoodHub }}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      
                      <div class="descripcion-recortada">
                        {{ programacion.municipio + ', ' + programacion.nombreEstado + ', ' + programacion.pais  }}
                      </div>
                    </ion-card-content>
                  </div>
                </div>
              </ion-card>
            </div>
          </div>
        </div>
        <div *ngIf="selectedSegment === 2" [ngClass]="selectedAltSegment > selectedSegment ? 'animated-from-left' : 'animated-from-right'">
          <ion-card >
            <!-- Contenido de la carta para el segmento 'General' -->
            <ion-card-header>
              <ion-card-title>Contenido General</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <!-- Contenido específico para el segmento 'General' -->
            </ion-card-content>
          </ion-card>
          
        </div>
        <div *ngIf="selectedSegment === 3" [ngClass]="selectedAltSegment > selectedSegment ? 'animated-from-left' : 'animated-from-right'">
          <ion-card >
            <!-- Contenido de la carta para el segmento 'General' -->
            <ion-card-header>
              <ion-card-title>Contenido General</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <!-- Contenido específico para el segmento 'General' -->
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </ng-template>


    </div>


</ion-content>



  