USE [ProcAppDelivery]
GO
/****** Object:  Table [dbo].[APPUSERCAT001]    Script Date: 13/01/2024 12:11:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPUSERCAT001](
	[APPUSERCAT001_IdCuenta] [int] IDENTITY(1,1) NOT NULL,
	[APPUSERCAT001_NombreUsuario] [varchar](10) NOT NULL,
	[APPUSERCAT001_Password] [varbinary](64) NOT NULL,
	[APPUSERCAT001_Correo] [varchar](200) NOT NULL,
	[APPUSERCAT001_Foto] [image] NULL,
	[APPUSERCAT001_Activo] [bit] NOT NULL,
	[APPUSERCAT001_FechaInsert] [datetime] NOT NULL,
	[APPUSERCAT001_FechaUpdate] [datetime] NULL,
	[APPUSERCAT001_FechaDelete] [datetime] NULL,
 CONSTRAINT [UQ_UserNombreUsuario] UNIQUE NONCLUSTERED 
(
	[APPUSERCAT001_NombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[APPUSERCAT001] ADD  DEFAULT ((1)) FOR [APPUSERCAT001_Activo]
GO
