USE [ProcAppDelivery]
GO
/****** Object:  Table [dbo].[APPADMONCAT004]    Script Date: 13/01/2024 12:11:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPADMONCAT004](
	[APPADMONCAT004_IdEstado] [int] NOT NULL,
	[APPADMONCAT004_Clave] [varchar](2) NOT NULL,
	[APPADMONCAT004_Nombre] [varchar](40) NOT NULL,
	[APPADMONCAT004_Abreviacion] [varchar](10) NOT NULL,
	[APPADMONCAT003_IdPais] [int] NULL,
	[APPADMONCAT004_Activo] [tinyint] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[APPADMONCAT004] ADD  DEFAULT ((1)) FOR [APPADMONCAT003_IdPais]
GO
