USE [ProcAppDelivery]
GO
/****** Object:  Table [dbo].[APPADMONCAT002]    Script Date: 13/01/2024 12:11:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPADMONCAT002](
	[APPADMONCAT002_IdDiaSemana] [int] IDENTITY(1,1) NOT NULL,
	[APPADMONCAT002_DiaSemana] [varchar](20) NOT NULL
) ON [PRIMARY]
GO
