USE [ProcAppDelivery]
GO
/****** Object:  Table [dbo].[APPADMONCAT006]    Script Date: 04/04/2024 03:21:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPADMONCAT006](
	[APPADMONCAT006_IdTipoUsuario] [int] IDENTITY(1,1) NOT NULL,
	[APPADMONCAT006_TipoUsuario] [varchar](100) NOT NULL,
	[APPADMONCAT006_Descripcion] [varchar](100) NOT NULL,
	[APPADMONCAT006_Activo] [bit] NOT NULL,
	[APPADMONCAT006_FechaInsert] [smalldatetime] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[APPADMONCAT006] ADD  DEFAULT ((1)) FOR [APPADMONCAT006_Activo]
GO
