USE [ProcAppDelivery]
GO
/****** Object:  Table [dbo].[APPFPROGDAT002]    Script Date: 04/04/2024 03:21:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPFPROGDAT002](
	[APPFPROGDAT002_IdFechaProgramada] [int] IDENTITY(1,1) NOT NULL,
	[APPFPROGDAT001_IdProgramacion] [int] NOT NULL,
	[APPFPROGDAT002_Fecha] [datetime] NOT NULL,
	[APPFPROGDAT002_Cantidad] [int] NOT NULL,
	[APPFPROGDAT002_Interesados] [int] NULL,
	[APPFPROGDAT002_Confirmado] [bit] NOT NULL,
	[APPFPROGDAT002_NotificacionesEnviadas] [bit] NULL,
	[APPFPROGDAT002_TipoProgramacion] [char](1) NULL,
	[APPFPROGDAT002_Activo] [bit] NOT NULL,
	[APPFPROGDAT002_FechaInsert] [datetime] NOT NULL,
	[APPFPROGDAT002_FechaUpdate] [datetime] NULL,
	[APPFPROGDAT002_FechaDelete] [datetime] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[APPFPROGDAT002] ADD  DEFAULT ((0)) FOR [APPFPROGDAT002_Cantidad]
GO
ALTER TABLE [dbo].[APPFPROGDAT002] ADD  DEFAULT ((0)) FOR [APPFPROGDAT002_Interesados]
GO
ALTER TABLE [dbo].[APPFPROGDAT002] ADD  DEFAULT ((0)) FOR [APPFPROGDAT002_Confirmado]
GO
ALTER TABLE [dbo].[APPFPROGDAT002] ADD  DEFAULT ((0)) FOR [APPFPROGDAT002_NotificacionesEnviadas]
GO
