USE [ProcAppDelivery]
GO
/****** Object:  Table [dbo].[APPFOODCAT001]    Script Date: 13/01/2024 12:11:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPFOODCAT001](
	[APPFOODCAT001_IdCuenta] [int] IDENTITY(1,1) NOT NULL,
	[APPFOODCAT001_NombreUsuario] [varchar](10) NOT NULL,
	[APPFOODCAT001_Password] [varbinary](64) NOT NULL,
	[APPFOODCAT001_Correo] [varchar](200) NOT NULL,
	[APPFOODCAT001_Foto] [image] NULL,
	[APPFOODCAT001_Activo] [bit] NOT NULL,
	[APPFOODCAT001_FechaInsert] [datetime] NOT NULL,
	[APPFOODCAT001_FechaUpdate] [datetime] NULL,
	[APPFOODCAT001_FechaDelete] [datetime] NULL,
 CONSTRAINT [UQ_NombreUsuario] UNIQUE NONCLUSTERED 
(
	[APPFOODCAT001_NombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[APPFOODCAT001] ADD  DEFAULT ((1)) FOR [APPFOODCAT001_Activo]
GO
