USE [ProcAppDelivery]
GO
/****** Object:  Table [dbo].[APPFPRODCAT005]    Script Date: 04/04/2024 03:21:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPFPRODCAT005](
	[APPFPRODCAT005_IdProducto] [int] IDENTITY(1,1) NOT NULL,
	[APPFOODCAT001_IdCuenta] [int] NOT NULL,
	[APPFPRODCAT005_Nombre] [varchar](100) NOT NULL,
	[APPFPRODCAT005_Foto] [image] NULL,
	[APPFPRODCAT005_Descripcion] [varchar](200) NOT NULL,
	[APPFPRODCAT001_IdTipo] [int] NOT NULL,
	[APPFPRODCAT002_IdTipoAlimentacion] [int] NOT NULL,
	[APPFPRODCAT005_Disponibilidad] [bit] NOT NULL,
	[APPFPRODCAT005_PreciosConfigurados] [bit] NOT NULL,
	[APPFPRODCAT005_Promocion] [bit] NOT NULL,
	[APPFPRODCAT005_EtiquetaEspecial] [bit] NOT NULL,
	[APPFPRODCAT005_Etiqueta] [varchar](100) NOT NULL,
	[APPFPRODCAT005_Popularidad] [int] NOT NULL,
	[APPFPRODCAT005_Activo] [bit] NOT NULL,
	[APPFPRODCAT005_FechaInsert] [smalldatetime] NOT NULL,
	[APPFPRODCAT005_UsuarioInsert] [char](6) NOT NULL,
	[APPFPRODCAT005_FechaUpdate] [smalldatetime] NULL,
	[APPFPRODCAT005_UsuarioUpdate] [char](6) NULL,
	[APPFPRODCAT005_FechaDelete] [smalldatetime] NULL,
	[APPFPRODCAT005_UsuarioDelete] [char](6) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[APPFPRODCAT005] ADD  DEFAULT ((1)) FOR [APPFPRODCAT005_Disponibilidad]
GO
ALTER TABLE [dbo].[APPFPRODCAT005] ADD  DEFAULT ((0)) FOR [APPFPRODCAT005_PreciosConfigurados]
GO
ALTER TABLE [dbo].[APPFPRODCAT005] ADD  DEFAULT ((0)) FOR [APPFPRODCAT005_Promocion]
GO
ALTER TABLE [dbo].[APPFPRODCAT005] ADD  DEFAULT ((0)) FOR [APPFPRODCAT005_EtiquetaEspecial]
GO
ALTER TABLE [dbo].[APPFPRODCAT005] ADD  DEFAULT ('') FOR [APPFPRODCAT005_Etiqueta]
GO
ALTER TABLE [dbo].[APPFPRODCAT005] ADD  DEFAULT ((0)) FOR [APPFPRODCAT005_Popularidad]
GO
ALTER TABLE [dbo].[APPFPRODCAT005] ADD  DEFAULT ((1)) FOR [APPFPRODCAT005_Activo]
GO
