
<div class="contenedor">
    <div class="header">
        <label>Catalogo de Cargos</label>
    </div>
    <div class="body">
        <div class="container-fluid">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-1 mt-1">
                        Filtro:
                    </div>
                    <div class="col-md-3">
                        <input class="form-control" type="text" name="txtFiltro" id="txtFiltro">
                    </div>
                    <div class="col-md-8 text-right">
                        <button class="btn btn-info" type="button" (click)="openModal()" ><i
                            class="fas fa-save"></i> Agregar</button>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-12">
                        
                        <grid-cs #gridCargos [rowsPerPage]="10"
                             [columnDefs]="columnsCargos"
                            [(data)]="lstCargos"
                            [enablePagination]="true"
                        ></grid-cs>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <small>Versión 12.02.2024</small>
                <h5>Catalogo de Cargos</h5>
            </div>
        </div>
    </div>
</div>

<mdl-captura-cargos #mdlCaptura (onClose)="onCloseModal($event)"></mdl-captura-cargos>

