
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Configuracion</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
    
   <div class="card-container">
    <strong class="header-item ion-margin-start">
      Cuenta
    </strong>
    <ion-card>        
      <ion-card-content>
        <ion-item lines="none" href="/profile/editprofile">
          <ion-thumbnail slot="start" class="item-icon">
            <ion-icon name="person-outline"></ion-icon>
          </ion-thumbnail>
          <!-- <div class="center-container"> -->
            <ion-label>
              <h3>Configurar datos personales</h3>
              <p>Edita tu correo, nombre, direción y más</p>
            </ion-label>
          <!-- </div> -->
        </ion-item>
      </ion-card-content>
    </ion-card>
    <!-- <ion-card>
      <ion-card-content>
        <ion-item lines="none">
          <ion-thumbnail slot="start" class="item-icon">
            <ion-icon name="notifications-outline"></ion-icon>
          </ion-thumbnail>
          <ion-label>
            <h3>Notificaciones</h3>
            <p>Ver mis notificaciones</p>
          </ion-label>           
        </ion-item>
      </ion-card-content>
    </ion-card> -->
    <ion-card>        
      <ion-card-content>
        <ion-item lines="none" href="/profile/changepassword">
          <ion-thumbnail slot="start" class="item-icon">
            <ion-icon name="shield-outline"></ion-icon>
          </ion-thumbnail>
          <!-- <div class="center-container"> -->
            <ion-label>
              <h3>Seguridad</h3>
              <p>Cambiá la contraseña de tu cuenta y más</p>
            </ion-label>
          <!-- </div> -->
        </ion-item>
      </ion-card-content>
    </ion-card>
   </div>
   <!--  -->
   <div class="card-container">
    <strong class="header-item ion-margin-start">
      Soporte y Acerca de 
    </strong>
    <ion-card href="/profile/cards">        
      <ion-card-content>
        <ion-item lines="none">
          <ion-thumbnail slot="start" class="item-icon">
            <ion-icon name="card-outline"></ion-icon>
          </ion-thumbnail>
          <!-- <div class="center-container"> -->
            <ion-label>
              <h3>Cuentas y pagos</h3>
              <p>Revisa tus cuentas y revisa tus pagos</p>
            </ion-label>
          <!-- </div> -->
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <ion-item lines="none">
          <ion-thumbnail slot="start" class="item-icon">
            <ion-icon name="help-outline"></ion-icon>
          </ion-thumbnail>
          <ion-label>
            <h3>Ayuda</h3>
            <p>Respuestas a las dudas más comunes</p>
          </ion-label>
          
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <ion-item lines="none">
          <ion-thumbnail slot="start" class="item-icon">
            <ion-icon name="information-outline"></ion-icon>
          </ion-thumbnail>
          <ion-label>
            <h3>Terminos y condiciones</h3>
            <p>Terminos y politicas de la aplicación</p>
          </ion-label>
          
        </ion-item>
      </ion-card-content>
    </ion-card>
   </div>
   <!--  -->
   <div class="card-container">
    <strong class="header-item ion-margin-start">
      Acciones 
    </strong>
    <ion-card href="/profile/cards">        
      <ion-card-content>
        <ion-item lines="none">
          <ion-thumbnail slot="start" class="item-icon">
            <ion-icon name="flag-outline"></ion-icon>
          </ion-thumbnail>
          <!-- <div class="center-container"> -->
            <ion-label>
              <h3>Reportar un problema</h3>
              <p>¿Tienes un problema? ¡Te ayudamos a resolverlo!</p>
            </ion-label>
          <!-- </div> -->
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <ion-item lines="none">
          <ion-thumbnail slot="start" class="item-icon">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-thumbnail>
          <ion-label>
            <h3>Eliminar Cuenta</h3>
            <p>¿No más comidas?, puedes eliminar tu cuenta</p>
          </ion-label>
          
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card>        
      <ion-card-content>
        <ion-item lines="none">
          <ion-thumbnail slot="start" class="item-icon">
            <ion-icon name="log-out-outline"></ion-icon>
          </ion-thumbnail>
          <!-- <div class="center-container"> -->
            <ion-label>
              <h3>Cerrar sesión</h3>
            </ion-label>
          <!-- </div> -->
        </ion-item>
      </ion-card-content>
    </ion-card>
   </div>
  </div>
</ion-content>
