<!-- <ion-content> -->
    <div class="rowBento">
        <ion-card  class="animated-top" class="cardMargin" >
            <div class="card-content">
              <div class="date-container">09 Feb 2024</div>
              <div class="image-container">
                <img [src]="Picture" class="imagen-platillo" />
              </div>
              <div class="textContainer">
                <ion-card-header>
                  <ion-card-title>{{ Name }}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <div class="descripcion-recortada">
                    {{ Description }}
                  </div>
                </ion-card-content>
              </div>
            </div>
          </ion-card>
    </div>

<!-- </ion-content> -->
