<ion-header>
    <ion-toolbar>
      <div class="buttonsOnTop">
        <ion-buttons slot="start">
          <ion-button class="btnReturn" (click)="goBack()">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
          <h3>Mis Productos</h3>
        </ion-buttons>
      </div>
        <!-- <ion-title>Mis Productos</ion-title> -->
    </ion-toolbar>
</ion-header>
<ion-content class="padding">
  <filtered-categories></filtered-categories>
   <!-- style="height: 100%;" -->
    <div >
      <ion-grid>
        <ion-row class="rowBento">
          <ion-col size="12" *ngFor="let grupo of lstProductosAgrupados">
            <h1><strong>{{ grupo.nombreTipo }}</strong></h1>
      
            
            <ion-card *ngFor="let platillo of grupo.platillos" class="animated-top" class="cardMargin" (click)="showProductDetails(platillo)">
              <div class="card-content">
                <div class="image-container">
                  <img [src]="imagenBase64(platillo.foto)" class="imagen-platillo" />
                </div>
                <div class="textContainer">
                  <ion-card-header>
                    <ion-card-title>{{ platillo.nombreProducto }}</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    <div class="descripcion-recortada">
                      {{ platillo.descripcion }}
                    </div>
                  </ion-card-content>
                </div>
              </div>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
     
      <ion-fab vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button (click)="goToCapture()">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>



    <!-- <ion-grid >
      <ion-row class="rowBento">
        <ion-col size="6" *ngFor="let platillo of lstProductos">
          
          <ion-card class="animated-top" class="cardMargin" (click)="showProductDetails(platillo)">
            
            <div class="card-content">
              <div class="image-container">
                <img [src]="imagenBase64(platillo.foto)" class="imagen-platillo" />
              </div>
              <div class="textContainer">
                <ion-card-header>
                  <ion-card-title>{{ platillo.nombreProducto }}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <div class="descripcion-recortada">
                    {{ platillo.descripcion }}
                  </div>
                </ion-card-content>
              </div>
            </div>
          </ion-card>
          
        </ion-col>
      </ion-row>
    </ion-grid> -->
    <!-- <ion-item class="productAction ion-text-center ion-align-self-center">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12" class="ion-text-center">
            
            <ion-button class="round-button ion-text-center" size="default" color="dark" fill="outline" shape="round">
              <ion-icon name="add-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
     
     </ion-item> -->
<!-- Iterar sobre los platillos dentro del grupo -->
                <!-- <ion-grid >
                  <ion-row class="rowBento">
                    <ion-col size="6" *ngFor="let platillo of grupo.platillos">
                      
                      <ion-card class="animated-top" class="cardMargin" (click)="showProductDetails(platillo)">
                        
                        <div class="card-content">
                          <div class="image-container">
                            <img [src]="imagenBase64(platillo.foto)" class="imagen-platillo" />
                          </div>
                          <div class="textContainer">
                            <ion-card-header>
                              <ion-card-title>{{ platillo.nombreProducto }}</ion-card-title>
                            </ion-card-header>
                            <ion-card-content>
                              <div class="descripcion-recortada">
                                {{ platillo.descripcion }}
                              </div>
                            </ion-card-content>
                          </div>
                        </div>
                      </ion-card>
                      
                    </ion-col>
                  </ion-row>
                </ion-grid>  -->
 
  </ion-content>
