
<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/profile"></ion-back-button>
      </ion-buttons>
      <ion-title>Cambiar Constraseña</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content>
      <div class="content">
        <strong>Contraseña Actual</strong>
        <ion-item [class.invalidate]="validatePassword" lines="full">
            <ion-input type="password" [(ngModel)]="currentPassword" required 
            [clearInput]="true" placeholder="*****" [clearOnEdit]="true"></ion-input>
          </ion-item>
          <strong>Nueva Contraseña</strong>
          <ion-item [class.invalidate]="validateNewPassword" lines="full">
            <ion-input type="password" [(ngModel)]="newPassword" required
            [clearInput]="true" placeholder="*****" [clearOnEdit]="true"></ion-input>
          </ion-item>
          <strong>Confirmar Nueva Contraseña</strong>
          <ion-item [class.invalidate]="validateNewPassword" lines="full">
            <ion-input type="password" [(ngModel)]="confirmPassword" required
            [clearInput]="true" placeholder="*****" [clearOnEdit]="true"></ion-input>
          </ion-item>
        
          <ion-button size="large" expand="block" fill="outline" shape="round" color="dark" (click)="confirm()">
            Cambiar Contraseña 
          </ion-button>
        
      </div>

      
</ion-content>