<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand">Mi CRM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [class.show]="sidebarOpen" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Inicio</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Cocinero</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
          <a class="dropdown-item" href="#">Catalogo de Usuarios</a>
          <a class="dropdown-item" href="#">Catalogo de Pedidos</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Usuarios</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
          <a class="dropdown-item" href="#">Catalogo de Usuarios</a>
          <a class="dropdown-item" href="#">Catalogo de Pedidos</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink3" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Catalogos</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
          <a class="dropdown-item" href="#">Catalogo de Cargos</a>
          <a class="dropdown-item" href="#">Ingredientes</a>
          <a class="dropdown-item" href="#">Empleados</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Facturas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Reportes</a>
      </li>
    </ul>
  </div>
</nav>
``
